*{
    margin: 0;
    padding: 0;
}
body {
 background-color: black;
 height: 100vh;
  
}
header > nav  {
    background-color: hsl(192, 94%, 37%) ;
    color: rgb(255, 255, 255);
    padding: 20px 0;
   
    box-shadow: 3px  3px  3px black;
    display: flex;
    justify-content: space-between; 
}



ul{
    width: 500px;
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

#Eric{
    margin-left: 20px;
    
}



a{
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 20px;
    
}

.project {
    background-color: white;
    border: 1px solid #ffffff;
    margin: 50px 0;
    height: 50vh;
    padding: 40px;
    border-radius: 5px;
}
footer {
    background-color: #3c9db3;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 150em;
}